@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #30c0ff;
  transition: 0.4s;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: #30c0ff;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}
