body {
  background: #000;
  color: gray;
  font-family: "Agency FB";
  font-weight: bold;
  padding: 5px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
}
input {
  font-family: "Agency FB";
  outline: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}
h3 {
  font-family: "Agency FB";
  font-weight: bold;
}
a,
.green {
  text-decoration: none;
  color: #30c0ff;
  transition: 0.4s;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}
button {
  font-family: "Glossy Sheen";
  outline: none;
  border-radius: 10px;
  padding: 10px;
}
button:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.03);
  background-color: #30c0ff;
}
@media (hover: hover) {
  a:hover {
    background-color: #30c0ff;
    color: #fff;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}
